<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U - Add Course</a></div>
  </nav>
</header>

<div class="d-flex flex-column justify-content-center container-fluid pt-3">
  <div class="alert alert-success" role="alert" *ngIf="showAlert">
    {{message}}
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex">
      <h2>Courses at University U </h2>
    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn btn-outline-primary" (click)="open(content)">Add Courses
      </button>
    </div>
  </div>
  <div class="d-flex mt-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Professor</th>
        <th scope="col">Course Title</th>
        <th scope="col">Course Number</th>
        <th scope="col">Course Credits</th>
        <th scope="col">Course Min Per Week</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of allCourses">
        <th scope="row">{{course.CourseID}}</th>
        <td>{{course.TeacherSuffix}} {{course.TeacherFName}} {{course.TeacherMidName}} {{course.TeacherLastName}}</td>
        <td>{{course.CourseTitle}}</td>
        <td>{{course.CourseNumber}}</td>
        <td>{{course.CourseCredits}}</td>
        <td>{{course.CourseMinPerWeek}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteCourse(course.TeachCourseID, course.CourseID)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Professor</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem *ngFor="let prof of current_profs" (click)="selectProfess(prof.TeacherID)">{{prof.TeacherFName}} {{prof.TeacherLastName}}</button>
              </div>
          </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" placeholder="Course Number*" id="course-number"
                     [(ngModel)]="courseNumber" name="data" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" id="course-title" placeholder="Course Title*"
                     [(ngModel)]="courseTitle" name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="course-credits" placeholder="Course Credits*" [(ngModel)]="courseCredits"
                     name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="course-min-pre-week" placeholder="Course Min Per Weeek*"
                     [(ngModel)]="courseMinPerWeek" name="data" required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="creatCourse()">Submit</button>
  </div>
</ng-template>
