<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U - Add Section</a></div>
  </nav>
</header>

<div class="d-flex flex-column justify-content-center container-fluid pt-3">
  <div class="alert alert-success" role="alert" *ngIf="showAlert">
    {{message}}
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex">
      <h2>Course Section at University U </h2>
    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn btn-outline-primary" (click)="open(content)">Add Section
      </button>
    </div>
  </div>
  <div class="d-flex mt-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Section #</th>
        <th scope="col">Semester ID</th>
        <th scope="col">Section Meet Per Week</th>
        <th scope="col">Section Meet Minutes</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let sec of allSection">
        <th scope="row">{{sec.FK_CourseID}}</th>
        <td>{{sec.SectionNo}}</td>
        <td>{{sec.FK_SemesterID}}</td>
        <td>{{sec.SectionMeetPerWeek}}</td>
        <td>{{sec.SectionMeetMinutes}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteSection(sec.SectionID)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Course</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Professor</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem *ngFor="let sem of allSemester" (click)="selectSemester(sem.SemesterID)">{{sem.SemesterName}}</button>
              </div>
            </div>
          </div>
          <div class="col-sm">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Course</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem *ngFor="let course of allCourses" (click)="selectCourse(course.CourseID)">{{course.CourseTitle}} {{course.CourseNumber}}</button>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="course-title" placeholder="Section No*"
                     [(ngModel)]="sectionNo" name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="course-credits" placeholder="Section Meet Per Week*" [(ngModel)]="sectionMeetingWeek"
                     name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="course-min-pre-week" placeholder="Section Meet Minutes*"
                     [(ngModel)]="sectionMeetMin" name="data" required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createSection()">Submit</button>
  </div>
</ng-template>

