<!--This inserts the header from the header component-->
<app-header ></app-header>
<!--This will insert the content from other components-->
<router-outlet></router-outlet>
<!--This will insert the footer from the footer component-->
<app-footer class="mt-auto"></app-footer>
