<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U - Add Facilities</a></div>
  </nav>
</header>
<div class="d-flex flex-column justify-content-center container-fluid pt-3">
  <div class="alert alert-success" role="alert" *ngIf="showAlert">
    {{message}}
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex">
      <h2>Facilities at University U </h2>
    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn btn-outline-primary" (click)="open(building)">Add Building
      </button>
    </div>
    <div class="d-flex ml-2">
      <button type="button" class="btn btn-outline-primary" (click)="open(room)">Add Room
      </button>
    </div>
  </div>
  <div class="d-flex mt-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Building ID</th>
        <th scope="col">Building Name</th>
        <th scope="col">Room ID</th>
        <th scope="col">Room Name</th>
        <th scope="col">Delete Room</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let room of allRooms">
        <th scope="row">{{room.BldgID}}</th>
        <td>{{room.BldgName}}</td>
        <td>{{room.RoomID}}</td>
        <td>{{room.RoomName}}</td>
        <td>
          <button type="button" class="btn btn-outline-danger"
                  (click)="deleteRoom(room.RoomID)">Delete
          </button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Building Modal-->
<ng-template #building let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Building</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Building Name*" id="building-name"
                     [(ngModel)]="buildingName" name="data" required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addBuilding()">Submit</button>
  </div>
</ng-template>

<!--Room Modal-->
<ng-template #room let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add room</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Room Name*" id="room-name"
                     [(ngModel)]="roomName" name="data" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div ngbDropdown class="d-inline-block">
              <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Building</button>
              <div ngbDropdownMenu aria-labelledby="dropdownBasic1" >
                <button ngbDropdownItem
                        (click)="selectBuilding(building.BldgID)" *ngFor="let building of allBuilding">{{building.BldgName}}</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="addRoom()">Submit</button>
  </div>
</ng-template>
