<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U Dashboard</a></div>
  </nav>
</header>
<div class="d-flex flex-column container justify-content-center mt-5">
  <div class="d-flex justify-content-center">
        <span>
            Welcome to University U's Scheduler!
        </span>
  </div>
  <div class="d-flex flex-row justify-content-center mt-5">
    <div class="d-flex flex-row justify-content-center">
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="schedulePage()">Schedule</button>
      </div>
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="professorPage()">Professors</button>
      </div>
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="coursePage()">Course Look Up</button>
      </div>
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="addCoursePage()">Add Course</button>
      </div>
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="addSection()">Add Section</button>
      </div>
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="addSemester()">Add Semester</button>
      </div>
      <div class="d-flex justify-content-center mr-4">
        <button type="button" class="btn btn-outline-primary" (click)="addFacilities()">Add Facilities</button>
      </div>
    </div>
  </div>
</div>
