<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">Course Look-Up</a></div>
  </nav>
</header>
<div class="d-flex flex-column justify-content-center pt-3 container-fluid">
  <div class="d-flex justify-content-center">
    <span class="d-flex">To view your courses for the semester, please enter your name below</span>
  </div>
  <div class="d-flex flex-column justify-content-center pt-3">
    <div class="d-flex justify-content-center">
      <span>Professor Name</span>
    </div>
    <div class="d-flex flex-row justify-content-center">
      <div class="input-group w-25 mb-3 justify-content-center">
        <input type="text" class="form-control" placeholder="Enter First Name" aria-label="Enter name"
               aria-describedby="basic-addon2" [(ngModel)]="name">
      </div>
      <div class="d-flex justify-content-center ml-3">
        <button class="btn btn-outline-secondary" type="button" (click)="confirmName()">Search</button>
      </div>
    </div>
  </div>
  <div class="alert alert-warning" role="alert" *ngIf="msg">
    No resulting matching {{name}}.
  </div>

  <div class="d-flex">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">Course ID</th>
        <th scope="col">Professor</th>
        <th scope="col">Course Title</th>
        <th scope="col">Course Number</th>
        <th scope="col">Course Credits</th>
        <th scope="col">Course Min Per Week</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let course of allCourses">
        <th scope="row">{{course.CourseID}}</th>
        <td>{{course.TeacherSuffix}} {{course.TeacherFName}} {{course.TeacherMidName}} {{course.TeacherLastName}}</td>
        <td>{{course.CourseTitle}}</td>
        <td>{{course.CourseNumber}}</td>
        <td>{{course.CourseCredits}}</td>
        <td>{{course.CourseMinPerWeek}}</td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
