<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U - Professors</a></div>
  </nav>
</header>

<div class="d-flex flex-column justify-content-center container-fluid pt-3">
  <div class="alert alert-success" role="alert" *ngIf="showAlert">
    {{message}}
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex">
      <h2>Professors at University U </h2>
    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn btn-outline-primary" (click)="open(content)">Add Professor
      </button>
    </div>
  </div>
  <div class="d-flex mt-5">
    <table class="table">
      <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Suffix</th>
        <th scope="col">First Name</th>
        <th scope="col">Middle Name</th>
        <th scope="col">Last Name</th>
        <th scope="col">Min Class Semester</th>
        <th scope="col">Max Class Semester</th>
        <th scope="col">Max Class Year</th>
        <th scope="col">Delete</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let prof of current_profs">
        <th scope="row">{{prof.TeacherID}}</th>
        <td>{{prof.TeacherSuffix}}</td>
        <td>{{prof.TeacherFName}}</td>
        <td>{{prof.TeacherMidName}}</td>
        <td>{{prof.TeacherLastName}}</td>
        <td>{{prof.TeacherMinSemClass}}</td>
        <td>{{prof.TeacherMaxSemClass}}</td>
        <td>{{prof.TeacherMaxYearClass}}</td>
        <td><button type="button" class="btn btn-outline-danger" (click)="deleteProf(prof.TeacherID)">Delete</button></td>
      </tr>
      </tbody>
    </table>
  </div>
</div>
<!--Modal-->
<ng-template #content let-modal>
  <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Add Professor</h4>
    <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <form>
      <div class="container">
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="Suffix*" id="suffix"
                     [(ngModel)]="suffix" name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" placeholder="First Name*" id="first-name"
                     [(ngModel)]="firstName" name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" id="middle-name" placeholder="Middle Name*"
                     [(ngModel)]="middleName" name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="text" class="form-control" id="last-name" placeholder="Last Name*" [(ngModel)]="lastName"
                     name="data" required>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="min-class-sem" placeholder="Min Class Semester*"
                     [(ngModel)]="minClassSem" name="data" required>
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="max-class-sem" placeholder="Max Class Semester*"
                     [(ngModel)]="maxClassSem" name="data">
            </div>
          </div>
          <div class="col-sm">
            <div class="form-group">
              <input type="number" class="form-control" id="max-class-year" placeholder="Max Class Year*"
                     [(ngModel)]="maxClassYear" name="data" required>
            </div>
          </div>
        </div>
      </div>
    </form>
  </div>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="createProfessor()">Submit</button>
  </div>
</ng-template>
