<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U</a></div>
  </nav>
</header>

<div class="d-flex flex-column container justify-content-center">
  <div class="d-flex justify-content-center pt-5">
        <span>
            Welcome to University U's Course Scheduler!
            Please use drop down menu to log in.
        </span>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <div class="form-group">
      <label for="exampleFormControlSelect1">Select</label>
      <select class="form-control" [(ngModel)]="dropdownValue" id="exampleFormControlSelect1">
        <option>Professor</option>
        <option>Selector</option>
      </select>
    </div>
  </div>
  <div class="d-flex justify-content-center mt-3">
    <button type="button" class="btn btn-primary" (click)="confirmSelection()">Confirm</button>
  </div>
</div>
