<footer class="bg-light">
  <div class="container-fluid py-3">
    <div class="row justify-content-center align-items-center">
      <span id="my-copyright" >&copy; All rights reserved for Dream High Studio 2019</span>
    </div>
  </div>
</footer>
