<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav  d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">Course Planning - Add Selection</a></div>
  </nav>
</header>
<div class="d-flex flex-column justify-content-center pt-3 container-fluid">
  <div class="error d-flex justify-content-center">
    <div class="alert alert-warning" role="alert" *ngIf="showAlert">
      {{message}}
    </div>
  </div>

  <div class="container">
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Semester</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let semester of allSemester"
                    (click)="selectSemester(semester.SemesterID)">{{semester.SemesterName}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="isCourseDisabled">
            Select Course
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let course of allCourses"
                    (click)="selectCourse(course.CourseID)">{{course.CourseTitle}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="isSectionDisabled">
            Select Section
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let sec of allSection"
                    (click)="selectSection(sec.SectionID)">{{sec.SectionNo}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>Select Building</button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let building of allBuilding"
                    (click)="selectBuilding(building.BldgID)">{{building.BldgName}}</button>
          </div>
        </div>
      </div>
    </div>
    <!--   Row two-->
    <div class="row">
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="isRoomDisabled">
            Select Room
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let room of allRooms"
                    (click)="selectRoom(room.RoomID)">{{room.RoomName}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle [disabled]="isProfDisabled">
            Select Professors
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem *ngFor="let prof of allProf"
                    (click)="selectProfessor(prof.TeacherID, prof.TeacherLastName)">{{prof.TeacherSuffix}} {{prof.TeacherFName}} {{prof.TeacherMidName}} {{prof.TeacherLastName}}</button>
          </div>
        </div>
      </div>
      <div class="col">
        <input type="text" ngbDatepicker #d="ngbDatepicker" [(ngModel)]="date"/>
        <button (click)="d.toggle()">Toggle</button>
      </div>
      <div class="col">
        <ngb-timepicker [(ngModel)]="startTime" [meridian]="false"></ngb-timepicker>
      </div>
      <div class="col">
        <ngb-timepicker [(ngModel)]="endTime" [meridian]="false"></ngb-timepicker>
      </div>
      <div class="col">
        <div ngbDropdown class="d-inline-block">
          <button class="btn btn-outline-primary" id="dropdownBasic1" ngbDropdownToggle>
            Tentative
          </button>
          <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
            <button ngbDropdownItem (click)="selectTentative(true)">Yes</button>
            <button ngbDropdownItem (click)="selectTentative(false)">No</button>
          </div>
        </div>
      </div>

    </div>
    <div class="d-flex justify-content-center">
      <button class="btn btn-outline-secondary" type="button" (click)="confirmSelection()">Confirm Selection</button>
    </div>
  </div>
  <!--  <ng-template [ngIf]="stage == 1">-->
  <!--    <div class="d-flex flex-column justify-content-center">-->
  <!--      <div class="d-flex justify-content-center">-->
  <!--        <span>Select Semester</span>-->
  <!--      </div>-->
  <!--      <div class="form-group">-->
  <!--        <label for="exampleFormControlSelect1">Select</label>-->
  <!--        <select class="form-control" [(ngModel)]="semester" id="exampleFormControlSelect1">-->
  <!--          &lt;!&ndash;TODO: link to db&ndash;&gt;-->
  <!--          <option>Spring</option>-->
  <!--          <option>Summer</option>-->
  <!--        </select>-->
  <!--      </div>-->

  <!--    </div>-->
  <!--  </ng-template>-->
  <!--  <ng-template [ngIf]="stage == 2">-->
  <!--    Stage 2-->
  <!--  </ng-template>-->
  <!--  <ng-template [ngIf]="stage == 3">-->
  <!--    Stage 3-->
  <!--  </ng-template>-->
  <!--  <ng-template [ngIf]="!showConfirmBtn" [ngIfElse]="confirmBtn">-->
  <!--    <div class="d-flex flex-row justify-content-center">-->
  <!--      <div class="d-flex justify-content-center">-->
  <!--        <button class="btn btn-outline-secondary" type="button" (click)="prev()">Prev</button>-->
  <!--      </div>-->
  <!--      <div class="d-flex justify-content-center">-->
  <!--        <button class="btn btn-outline-secondary" type="button" (click)="next()">Next</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-template>-->
  <!--  <ng-template #confirmBtn>-->
  <!--    <div class="d-flex flex-row justify-content-center">-->
  <!--      <div class="d-flex justify-content-center">-->
  <!--        <button class="btn btn-outline-secondary" type="button" (click)="prev()">Prev</button>-->
  <!--      </div>-->
  <!--      <div class="d-flex justify-content-center">-->
  <!--        <button class="btn btn-outline-secondary" type="button" (click)="confirmSelection()">Confirm Selection</button>-->
  <!--      </div>-->
  <!--    </div>-->
  <!--  </ng-template>-->
</div>


