<header class="d-flex flex-row">
  <nav class="navbar navbar-light main-nav d-flex justify-content-center">
    <div class="d-flex justify-content-center">
      <a class="navbar-brand" style="color:white;" href="#">University U - Add Semester</a></div>
  </nav>
</header>
<div class="d-flex flex-column justify-content-center container-fluid pt-3">
  <div class="alert alert-success" role="alert" *ngIf="showAlert">
    {{message}}
  </div>
  <div class="d-flex flex-row">
    <div class="d-flex">
      <h2>Semesters at University U </h2>
    </div>
    <div class="d-flex ml-auto">
      <button type="button" class="btn btn-outline-primary" (click)="open(content)">Add Semester
      </button>
    </div>
  </div>
    <div class="d-flex mt-5">
      <table class="table">
        <thead>
        <tr>
          <th scope="col">Semester ID</th>
          <th scope="col">Semester Name</th>
          <th scope="col">Semester Year</th>
          <th scope="col">Semester Start Date</th>
          <th scope="col">Semester End Date</th>
          <th scope="col">Delete</th>
        </tr>
        </thead>
        <tbody>
        <tr *ngFor="let semester of allSemester">
          <th scope="row">{{semester.SemesterID}}</th>
          <td>{{semester.SemesterName}}</td>
          <td>{{semester.SemesterYear}}</td>
          <td>{{semester.SemesterStartDate}}</td>
          <td>{{semester.SemesterEndDate}}</td>
          <td>
            <button type="button" class="btn btn-outline-danger"
                    (click)="deleteSemester(semester.SemesterID)">Delete
            </button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
  <!--Modal-->
  <ng-template #content let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">Add Semester</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form>
        <div class="container">
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <input type="text" class="form-control" placeholder="Semester Name*" id="semester-name"
                       [(ngModel)]="semesterName" name="data" required>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <input type="number" class="form-control" id="year" placeholder="Year*"
                       [(ngModel)]="year" name="data" required>
              </div>
            </div>
          </div>
          <div class="row">
            <div class="col-sm">
              <div class="form-group">
                <input type="date" class="form-control" id="semesterStartDate" placeholder="Semester Start Date*"
                       [(ngModel)]="semesterStartDate"
                       name="data" required>
              </div>
            </div>
            <div class="col-sm">
              <div class="form-group">
                <input type="date" class="form-control" id="semesterEndDate" placeholder="Semester End Date*"
                       [(ngModel)]="semesterEndDate" name="data" required>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
      <button type="button" class="btn btn-outline-dark" (click)="createSemester()">Submit</button>
    </div>
  </ng-template>
